<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notas del Estudiante</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <!-- Encabezado -->
        <h2>Notas de {{ estudiante_nombre }}</h2>

        <!-- Tabla de notas -->
        <table class="table table-bordered mt-4">
            <thead>
                <tr>
                    <th>Materia</th>
                    <th>Nota</th>
                    <th>Fecha</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for nota in notas %}
                <tr>
                    <td>{{ nota[2] }}</td>
                    <td>{{ nota[3] }}</td>
                    <td>{{ nota[4] }}</td>
                    <td class="text-center">
                        <!-- Botón para editar la nota -->
                        <a href="{{ url_for('editarNota', id=nota[5]) }}" class="btn btn-warning btn-sm text-white">
                            <i class="fa-solid fa-pen"></i> Editar Nota
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Botón para volver a la página de estudiantes -->
        <div class="d-flex justify-content-center mt-4">
            <a href="/" class="btn btn-secondary btn-lg"><i class="fa-solid fa-arrow-left"></i> Volver</a>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/0ced5e6458.js" crossorigin="anonymous"></script>
</body>
</html>
